@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

/* stylesheet components */
@import url('components/container.css');
@import url('components/header.css');
@import url('components/section.css');
@import url('components/card.css');
@import url('components/footer.css');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: lemonchiffon;
}
section {
  margin: 10px 0px;
}

h1, h2 {
  /* font-family: 'Open Sans', sans-serif; */
}

h3 {
  text-align: center;
}

/*
a {
  color: #66290f;
  font-weight: bold;
}

.brown-btn {
  color: white;
  background-color: #66290f;
  text-decoration: none;
  padding: 1px 5px;
  border-radius: 5px;
  display: inline-block;
}

.profile-img-size {
  width: 30%;
  height: auto;
  border-radius: 10%;
}

.cat-card {
  margin: 20px;
  padding-top: 5px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.3);
}

.card-img-size {
  width: 100%;
  height: auto;
  border-radius: 0px 0px 17px 17px;
}



li {
  display: inline-block;
}

.icons{
  padding: 10px;
  font-size: 50px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read
  .container {
    width: 300px;
  }
} */